﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <table id="postTable" class="table">
        <thead>
            <tr>
                <th>Post</th>
                <th>Create</th>
                <th>Comment Count</th>
                <th>Comments</th>
                <th>Comment Create</th>
                <th>Like</th>
                <th>Dislike</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Post</th>
                <th>Create</th>
                <th>Comment Count</th>
                <th>Comments</th>
                <th>Comment Create</th>
                <th>Like</th>
                <th>Dislike</th>

            </tr>
        </tfoot>

    </table>
</div>


@section Scripts{

    <script src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
    <script>
        $(document).ready(function () {
            $('#postTable').DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "/api/postapi",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "PostTitle", "autoWidth": true },
                    { "data": "CreateDateUtc", "autoWidth": true },
                    { "data": "CommentCount", "autoWidth": true },
                    { "data": "CommentText", "autoWidth": true },
                    { "data": "CommentCreateDateUtc", "autoWidth": true },
                    { "data": "LikeCount", "autoWidth": true },
                    { "data": "DislikeCount", "autoWidth": true },
                ],
                "order": [[0, 'asc']],
                "rowGroup": {
                    dataSrc: 'PostTitle'
                },
                "columnDefs": [
                    {
                        targets: [2, 1, 0],
                        visible: false
                    },
                    {
                        targets: ['CreateDateUtc', 'CommentCreateDateUtc'],
                        render: $.fn.dataTable.render.moment('YYYY/MM/DD', 'Do MMM YY', 'local')
                    }
                ]
            });
        });
    </script>
}