﻿@model IEnumerable<TESTBS23.Models.PostViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>VueJS 2 in ASP.NET MVC 5</h3>

<div id="postPage">
    {{ message }}
</div>

<script>
var aboutPage = new Vue({
    el: '#postPage',
    data: {
        message: 'Hello Vue! in About Page'
    }
});
</script>